@import 'normalize.css';

@font-face {
    font-family: 'CurseCasual';
    src: url('../assets/fonts/CurseCasual.ttf');
}

html {
    height: 100%;
}

body {
    height: inherit;
    background: #000;
    color: silver;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.font-preload {
    font-family: 'CurseCasual';
    position: absolute;
    font-size: 0;
    right: 100vw;
}
